* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #0f0f0f;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  flex-direction: column;
}

/* nav-bar */


.nav-bar{
    margin-top: -110px;
    transition: 0.5s;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.459);
    display: none;
    justify-content: center;
    align-items: center;
}

.list{
    display: none;
    z-index: 1;
    cursor: pointer;
    width: 40px;
    height: 30px;
    position: absolute;
    right: 15px;
    top: 15px;
}

.x-icon{
    display: none;
    height: 15px;
    position: absolute;
    top: 23px;
    right: 32px;
    cursor: pointer;
}

.icons-nav {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
  }
  
  .icons-nav img:hover {
    transform: scale(0.9);
  }
  
  .icons-nav img {
    width: 30px;
    height: 30px;
    transition: 0.3s;
  }

  .icons-nav .home,
  .icons-nav .github,
  .icons-nav .instagram,
  .icons-nav .linkedin,
  .icons-nav .bg-book {
  height: 50px;
  width: 50px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  border: 1px solid rgba(255, 255, 255, 0);
}



/* close nav-bar */

main {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: column;
}

.img-top{
    z-index: -1;
    top: 0;
    position: absolute;
    height: 500px;
    object-fit: cover;
    display: none;
    max-width: 100vw;
  }

.fade {
  position: absolute;
  background: linear-gradient(
    0deg,
    rgba(15, 15, 15, 1) 6%,
    rgba(0, 0, 0, 0) 100%
  );
  height: 500px;
  width: 100%;
  z-index: -1;
}

video {
  position: absolute;
  top: 0;
  z-index: -2;
  height: 500px;
  width: 100vw;
  object-fit: cover;
}

.center {
  width: 1200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* filter */

.filter-left,
.filter-right {
  width: 560px;
  position: absolute;
  height: 100%;
  z-index: -1;
}

.filter-left {
  left: 0;
  background: linear-gradient(90deg, #0f0f0f 0%, rgba(15, 15, 15, 0) 100%);
}

.filter-right {
  right: 0;
  background: linear-gradient(270deg, #0f0f0f 0%, rgba(15, 15, 15, 0) 100%);
}

.gradient {
  position: relative;
  width: 100vw;
  display: flex;
  justify-content: center;
}

/* filter */

.name-title {
  font-size: 70px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: bold;
  color: white;
  margin-top: 100px;
}

/* icons: */

.icons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 55px;
  align-items: center;
}

.icons img:hover {
  transform: scale(0.9);
}

.icons img {
  width: 40px;
  height: 40px;
  transition: 0.3s;
}

.home,
.github,
.instagram,
.linkedin,
.bg-book {
  height: 70px;
  width: 70px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  border: 1px solid rgba(110, 0, 0, 0);
}

.home:hover,
.github:hover,
.instagram:hover,
.linkedin:hover,
.bg-book:hover {
  background-color: #1b1b1b21;
  transform: scale(0.9);
  border: 1px solid rgb(110, 0, 0);
}

/* close icons */

.pics img {
  height: 320px;
  border: 2px solid rgba(255, 255, 255, 0.11);
  border-radius: 37.9px;
  box-shadow: 15px 15px 17px rgba(0, 0, 0, 0.753);
  transition: 0.3s;
}

.text {
  z-index: -2;
  gap: 30px;
  align-items: center;
  flex-direction: column;
  display: flex;
  color: white;
  font-family: "Space Grotesk", sans-serif;
  font-weight: bold;
  line-height: 25px;
  font-size: 20px;
  margin-top: 120px;
  letter-spacing: 1px;
}

.pics {
  transition: 0.3s;
  width: 100%;
  justify-content: space-between;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
}

.pics img:hover {
  transform: scale(0.9);
}

/* skills */

.skills span {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  color: white;
  font-size: 1rem;
}

.skills {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-bottom: 100px;
}

.lang {
  margin-top: 50px;
  display: flex;
  gap: 15px;
}

.lang img {
  transition: 0.3s;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.43);
}

.lang div {
  transition: 0.3s;
}

.html span,
.css span,
.js span {
  font-size: 15px;
  opacity: 0;
  position: absolute;
  top: -20px;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  transition: 0.3s;
}

.html,
.css,
.js {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.html span:hover,
.css span:hover,
.js span:hover {
  opacity: 100;
}

.lang div:hover {
  transform: translateY(-10px);
}

/* close skills */

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(110, 0, 0);
}


@media (max-width: 1200px){
    .img-top{
      width: 1000px;
    }
  
    .pics img{
      height: 200px;
    }
  
    .pics{
      width: 80%;
    }
  
    .text{
      font-size: 1rem;
      width: 80%;
    }
  
  }
  
  .center-main{
    display: flex;
    justify-content: center;
  }
  
  @media (max-width: 1000px){

    .nav-bar{
        display: flex;
    }

    .list{
        display: flex;
    }
  
    .icons{
        display: none;
    }

    .filter-left, .filter-right{
        display: none;
    }

    .pics img{
      height: 200px;
    }
  
    .pics{
      width: 80%;
    }
  
  }
  
  @media (max-width: 900px) {
  
    .img-top{
      display: flex;
    }
    

    .filter-video {
      width: 100vw;
    }
  
    .text {
      font-size: 0.7rem;
      letter-spacing: 0;
      width: 500px;
      line-height: 15px;
      gap: 15px;
    }

  
    .icons {
      display: none;
    }
  
    .pics img {
      height: 130px;
    }
  
    .pics {
      align-items: center;
      width: 90%;
    }
  }
  
  
  @media (max-width: 500px) {
    .name-title {
      font-size: 2rem;
    }
  
  
    .pics {
      flex-direction: column;
      gap: 10px;
    }
  
    .text {
      font-size: 0.6rem;
      width: 90%;
    }
  }
