@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Space+Grotesk:wght@700&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
  position: relative;
  justify-content: center;
  display: flex;
  background-color: #0f0f0f;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 55px;
  align-items: center;
}

.home,
.github,
.instagram,
.linkedin,
.bg-book {
  height: 70px;
  width: 70px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home:hover,
.github:hover,
.instagram:hover,
.linkedin:hover,
.bg-book:hover {
  background-color: #1b1b1b;
  transform: scale(0.9);
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.356);
}

.icons img:hover {
  transform: scale(0.9);
}

.icons img {
  width: 40px;
  height: 40px;
  transition: 0.3s;
}

.filter-left,
.filter-right {
  width: 560px;
  position: absolute;
  height: 1000px;
  z-index: -1;
}

.filter-left {
  left: -150px;
  background: linear-gradient(90deg, #0f0f0f 0%, rgba(15, 15, 15, 0) 100%);
}

.filter-right {
  background: linear-gradient(270deg, #0f0f0f 0%, rgba(15, 15, 15, 0) 100%);
  right: -150px;
}

main {
  position: relative;
  width: 1100px;
  flex-direction: column;
  display: flex;
  align-items: center;
  margin-bottom: 150px;
}

.name-title {
  font-size: 70px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: bold;
  color: white;
  margin-top: 100px;
}

.home {
  border-radius: 15px;
  background-color: #1b1b1b;
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ironman {
  position: relative;
  transition: 0.3s;
}

.filter-left1 {
  background: linear-gradient(90deg, #0f0f0f 0%, rgba(15, 15, 15, 0) 30%);
  height: 99%;
  width: 100%;
  position: absolute;
  border-radius: 37.9px;
}

.spiderman {
  position: relative;
  transition: 0.3s;
}

.filter-right1 {
  background: linear-gradient(270deg, #0f0f0f 0%, rgba(15, 15, 15, 0) 30%);
  height: 99%;
  width: 100%;
  position: absolute;
  border-radius: 37.9px;
}

.filter-video {
  background: linear-gradient(
    0deg,
    rgba(15, 15, 15, 1) 6%,
    rgba(0, 0, 0, 0) 100%
  );
  bottom: 0;
  height: 1000px;
  width: 1920px;
  position: absolute;
  z-index: 1;
}

video {
  width: 100%;
}

.video {
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: -2;
  top: 0;
  width: 1920px;
  height: 800px;
}

.pics img {
  height: 320px;
  border: 2px solid rgba(255, 255, 255, 0.11);
  border-radius: 37.9px;
  box-shadow: 15px 15px 17px rgba(0, 0, 0, 0.753);
  transition: 0.3s;
}

.pics {
  width: 100%;
  justify-content: space-between;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
}

.me:hover,
.ironman:hover,
.spiderman:hover {
  transform: scale(0.9);
}

.text {
  z-index: -2;
  gap: 30px;
  align-items: center;
  flex-direction: column;
  display: flex;
  color: white;
  font-family: "Space Grotesk", sans-serif;
  font-weight: bold;
  line-height: 25px;
  font-size: 20px;
  margin-top: 120px;
  letter-spacing: 1px;
}

.skills span {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  color: white;
  font-size: 1.5rem;
}

.skills {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.lang {
  display: flex;
  gap: 15px;
}

.lang img {
  transition: 0.3s;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.43);
}

.lang div{
  transition: 0.3s;
}

.html span,
.css span,
.js span {
  font-size: 15px;
  opacity: 0;
  position: absolute;
  top: -20px;
  height: 70px;
}

.skills span {
  transition: 0.3s;
}

.skills span:hover {
  opacity: 100;
}

.html,
.css,
.js {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lang div:hover {
  transform: translateY(-10px);
}

::-webkit-scrollbar {
  display: none;
}

/* style navbar: */
.name {
  color: white;
  font-family: "Space Grotesk", sans-serif;
  height: 25px;
  width: 90px;
  gap: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-color: #1b1b1b;
  color: #ffffff;
}

.navbar {
  position: absolute;
  top: -150px;
  background-color: #131313;
  height: 130px;
  width: 100vw;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: none;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.295);
  flex-direction: column;
}

.main img,
svg {
  height: 20px;
}

.main {
  width: 80%;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bg-x {
  position: absolute;
  z-index: 1;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.295);
  top: -150px;
  right: -15px;
  width: 40px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  background-color: #1b1b1b;
  transition: 0.8s;
  cursor: pointer;
}

.navbar img {
  cursor: pointer;
}

.home,
.github,
.instagram,
.linkedin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 55px;
  border-radius: 10px;
}

.loop {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.loop:active {
  rotate: 360deg;
}

.loop:not(:active) {
  transition: 0.3s linear;
}

.home:not(:active),
.github:not(:active),
.instagram:not(:active),
.linkedin:not(:active) {
  transition: 0.3s linear;
}

.main .home:active,
.github:active,
.instagram:active,
.linkedin:active {
  background-color: #1b1b1b;
  transform: scale(0.9);
}

.bg-book-nav:active {
  background-color: #1b1b1b91;
  transform: scale(0.98);
}

.bg-book-nav:not(:active) {
  transition: 0.3s linear;
}

.list {
  display: none;
  fill: white;
  position: absolute;
  z-index: 4;
  top: 10px;
  right: 5px;
  cursor: pointer;
}

/* end navbar style */

@media (max-width: 900px) {
  .list {
    display: flex;
  }

  main {
    width: 90%;
  }

  .filter-video {
    width: 100vw;
  }

  .text {
    font-size: 0.7rem;
    letter-spacing: 0;
    width: 500px;
    line-height: 15px;
    gap: 15px;
  }

  .navbar {
    display: flex;
  }

  .video {
    display: none;
    width: 900px;
  }

  .icons {
    display: none;
  }

  .pics img {
    height: 130px;
  }

  .pics {
    align-items: center;
    width: 90%;
  }
}

@media (max-width: 500px) {
  .name-title {
    font-size: 2rem;
  }

  .video {
    width: 500px;
  }

  .pics {
    flex-direction: column;
    gap: 10px;
  }

  .text {
    font-size: 0.6rem;
    width: 90%;
  }
}
